<div class="container">
<h1>You<span>Spent</h1>
<%= button_to 'LOG IN', new_user_session_path, class: "btn" %>
<%= button_to 'SIGN UP', new_user_registration_path, method: :get, class: "btn" %>
</div>